*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

Gemfile.lock

# YARD artifacts
.yardoc
_yardoc
doc/

# OS X artifacts
.DS_Store

# Rubinius

# IntelliJ
.idea
.rbx

# Coveralls
.coveralls.yml